@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {

   themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #E4B177;
  --color-secondary: #DE5B57
;
}

.text-small{
    font-size:18px;
}

.text-large{
    font-size: 24px;
}